@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor-de-fundo: #552645;
    --texto-principal: #f3b6eb;
    --texto-secundario: #863171;
    --fonte-family: "Merriweather", sans-serif;

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto-principal);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

header{
    background-color: var(--texto-principal);
    text-align: center;
    padding: 1px;
}
h1{
    color: var(--cor-de-fundo);
    font-size: 3rem;
    font-weight: 900;
}

nav{
      display: flex;
      justify-content:  center;
      font-weight:  800;

}

nav a{
    text-decoration: none;
    color: var(--cor-de-fundo) ;
    margin:0 0.4rem 0.3rem 0;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
    transform: scale(1.3);
    transition: transform 0.2s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e1f61;
    margin: 2rem;
}



